

/*footer*/
footer {
  display: flex;
  background-color: #4d0b65;
  width: 100%;
  text-align: center;
  align-items: center; }

footer .contenedor {
  display: flex;
  width: 100%;
  height: 100%; }

footer .texto {
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  font-size: 1rem;
  font-weight: 10;
  color: aqua;
  margin-top: 20px;
  margin-left: 1px;
  margin-bottom: 1px;
  padding-left: 10px; }

footer img {
  width: 40px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 1px;
  border-radius: 50px;
  padding: 1px;
  list-style: none; }

footer div .redes {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding-right: 30px;
  list-style: none;
  margin-top: 2px;
  margin-bottom: 10px; }

footer div .redes .ms-3:hover {
  transition: all 0.5s;
  opacity: 30%; }

footer h4 {
  display: flex;
  width: 30%;
  padding: 1rem;
  color: aqua; }

footer h4 {
  animation-duration: 5s;
  animation-name: aparecer;
  animation-iteration-count: infinite; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  50% {
    opacity: 1;
    color: aqua; }
  100% {
    opacity: 0; } }

#contacto h3 {
  color: aqua;
  text-align: center; }

#contacto .form-label {
  padding: 1px;
  color: aqua; }

#contacto .mb-3 {
  margin-left: 80px;
  margin-right: 80px; }
