
/*header*/
.header h1 {
  background-color: rgb 208, 189, 225;
  height: 30px;
  width: 13rem;
  text-align: center;
  font-family: 'Anton', sans-serif; }

.header h1 {
  animation-duration: 3s;
  animation-name: aparecer;
  animation-iteration-count: infinite; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  50% {
    opacity: 1;
    color: aqua; }
  100% {
    opacity: 0; } }

.header img {
  width: 100px;
  border-radius: 50%; }

.header img {
  animation-duration: 5s;
  animation-name: aparecer;
  animation-iteration-count: infinite; }

header a:hover {
  color: aqua; }

nav {
  background-color: #4d0b65; }

header .navbar {
  padding: 20px; }

header .navbar .navbar-nav {
  font-size: 1rem;
  font-weight: 900;
  gap: 25px;
  margin-bottom: 15px;
  margin-top: 25px; }

header .navbar .navbar-nav .nav-link {
  color: aqua; }

header .navbar .navbar-nav .nav-link:hover {
  color: #e42e89;
  transition: 0.5s; }

.overflow-visible h1 {
  color: white;
  text-align: center;
  font-weight: 300;
  font-family: 'Rubik Burned', cursive; }

.overflow-visible h1 {
  animation-duration: 3s;
  animation-name: aparecer;
  animation-iteration-count: infinite; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  50% {
    opacity: 1;
    color: aqua; }
  100% {
    opacity: 0; } }

/*main*/
img {
  width: 500px;
  padding: 5px;
  margin: 1rem;
  background-position: center;
  border-radius: 50px; }

.col {
  color: aqua;
  font-family: Arial, Helvetica, sans-serif; }

.main img:hover {
  color: black;
  background-color: white; }

main .menu {
  display: flex;
  width: 100px;
  padding: 1px;
  margin-bottom: 1px;
  align-items: center;
  text-align: center;
  gap: 10px; }
main .overflow-visible{
  background-color:aqua;
}
.texto{
  display: flex;
  background-color: #4d0b65;
  color: aqua;
  text-align:center;
  font-family: 'Anton', sans-serif;
}
.overflow-visible h2 {
  color:black;
  text-align: center;
  font-weight: 500;
  font-family: 'Rubik Burned', cursive; }

.overflow-visible h2 {
  animation-duration: 5s;
  animation-name: aparecer;
  animation-iteration-count: infinite; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  50% {
    opacity: 1;
    color: aqua; }
  100% {
    opacity: 0; } 
}




.row{
  gap: 70px;
  justify-content: center;
  color:aqua;
  font-family:'Anton', sans-serif; ;
}
.card{
  background-color: #4d0b65;
}

/*pages imagenes*/
.img-fluid{
  background-color: white;
  transition: 1s;
  animation-name: galeria;
  animation-duration: 2s;
  animation-iteration-count: inherit;
  
}

@keyframes galeria {
  0% {
    opacity: 0; }
  50% {
    opacity: 1;
    color: white; }
  100% {
    opacity: 0; } 
}
/*pages manga*/

.row_{
  gap: 20px;
  justify-content: center;
  color:black;
  font-family:'Anton', sans-serif; ;
}
.card_{
  background-color: white;
}

