/*Inicio main*/
main {
    .texto {
      display: flex;
      background-color: #4d0b65;
      color: aqua;
      text-align: center;
      font-family: "Anton", sans-serif;
    }
    .card {
      background-color: #4d0b65;
    }
    .row {
      gap: 70px;
      justify-content: center;
      color: aqua;
      font-family: "Anton", sans-serif;
    }
    .anima {
      color: black;
      text-align: center;
      font-weight: 500;
      font-family: "Rubik Burned", cursive;
    }
  
    .anima {
      animation-duration: 5s;
      animation-name: aparecer;
      animation-iteration-count: infinite;
    }
  
    @keyframes aparecer {
      0% {
        opacity: 0;
      }
      50% {
        opacity: 1;
        color: aqua;
      }
      100% {
        opacity: 0;
      }
    }
    .card_ {
      background-color: white;
    }
    .row_ {
      gap: 20px;
      justify-content: center;
      color: black;
      font-family: "Anton", sans-serif;
    }
  
    .card_ {
      background-color: white;
    }
    .img-fluid {
      background-color: white;
      transition: 1s;
      animation-name: galeria;
      animation-duration: 2s;
      animation-iteration-count: inherit;
    }
  
    @keyframes galeria {
      0% {
        opacity: 0;
      }
      50% {
        opacity: 1;
        color: white;
      }
      100% {
        opacity: 0;
      }
    }
    img {
      width: 500px;
      padding: 5px;
      margin: 1rem;
      background-position: center;
      border-radius: 50px;
    }
    main .img_ {
      width: 500px;
      padding: 5px;
      margin: 1rem;
      background-position: center;
      border-radius: 1px;
    }
    img {
      color: black;
      &:hover {
        background-color: aqua;
      }
    }
    .col {
      color: aqua;
      font-family: Arial, Helvetica, sans-serif;
    }
  }
 
  

  /*fin main*/
  
  /*pages contacto main*/



  #contacto h3 {
    color: aqua;
    text-align: center;
  }
  
  #contacto .form-label {
    padding: 1px;
    color: aqua;
  }
  
  #contacto .mb-3 {
    margin-left: 80px;
    margin-right: 80px;
  }